# Gemini Embedding
GEMINI_EMBEDDING_MODEL=models/gemini-embedding-001

# Groq
GROQ_MODEL=llama-3.1-8b-instant

# Qdrant
QDRANT_URL=https://YOUR_QDRANT_HOST
QDRANT_API_KEY=
QDRANT_COLLECTION=welfare_documents

# PostgreSQL
DATABASE_URL=postgresql+psycopg://DB_USERNAME:DB_PASSWORD@DB_HOST:5432/DB_NAME

# 공공데이터포털 복지서비스 API
PUBLIC_WELFARE_SERVICE_KEY=

PUBLIC_WELFARE_LIST_URL=https://apis.data.go.kr/B554287/LocalGovernmentWelfareInformations/LcgvWelfarelist?serviceKey={serviceKey}&pageNo={pageNo}&numOfRows={numOfRows}

PUBLIC_WELFARE_DETAIL_URL=https://apis.data.go.kr/B554287/LocalGovernmentWelfareInformations/LcgvWelfaredetailed?serviceKey={serviceKey}&servId={serviceId}
