fastapi
uvicorn[standard]
python-multipart
pydantic-settings
python-dotenv

pymupdf

langchain
langchain-core
langchain-groq
langchain-google-genai

qdrant-client

sqlalchemy
psycopg[binary]

rank-bm25

redis