# Spring 백엔드 API
VITE_API_BASE_URL=http://localhost:8080

# 낙상 감지 서버
VITE_FALL_API_BASE=http://127.0.0.1:8000

# Chat / STT / TTS 서버
VITE_AI_API_BASE_URL=http://127.0.0.1:8002
VITE_CHAT_STT_API_URL=http://127.0.0.1:8002/stt
VITE_CHAT_FOOD_API_URL=http://127.0.0.1:8002/food
VITE_CHAT_TTS_API_URL=http://127.0.0.1:8002/tts
VITE_CHAT_TTS_VOICE=F1

# RAG API (ai_backend)
VITE_RAG_API_BASE=http://localhost:8001

# 얼굴 인식 서버 (raspi-client/face_api.py)
VITE_FACE_API_BASE_URL=http://localhost:8003

# 카카오
VITE_KAKAO_REST_API_KEY=YOUR_KAKAO_REST_API_KEY
VITE_KAKAO_JAVASCRIPT_KEY=YOUR_KAKAO_JAVASCRIPT_KEY

# 공공데이터 포털
VITE_PUBLIC_DATA_SERVICE_KEY=YOUR_PUBLIC_DATA_SERVICE_KEY

# 서울 열린데이터 광장 - 일자리 API
VITE_SEOUL_ATTRACTIVE_JOB_KEY=YOUR_KEY
VITE_SEOUL_PUBLIC_JOB_KEY=YOUR_KEY
VITE_SEOUL_JOB_INFO_KEY=YOUR_KEY
VITE_SEOUL_SENIOR_JOB_CENTER_KEY=YOUR_KEY

# 국토교통부 노인복지시설 위치 API
VITE_MOLIT_SENIOR_WELFARE_KEY=YOUR_KEY

# Gemini API
VITE_GEMINI_MODEL=gemini-2.5-flash-lite
VITE_GEMINI_API_KEY=YOUR_GEMINI_API_KEY
VITE_GEMINI_STT_FIX_API_KEY=YOUR_GEMINI_STT_FIX_API_KEY

# Hugging Face (STT 모델)
VITE_HF_TOKEN=YOUR_HF_TOKEN

# Groq API
VITE_GROQ_KEY=YOUR_GROQ_KEY
