# Spring 백엔드 API
# API_BASE_URL=http://10.0.2.2:8080/api  (에뮬레이터)
API_BASE_URL=http://172.28.6.164:8080/api

# 얼굴 인식 서버 (raspi-client/face_api.py)
FACE_API_BASE_URL=http://172.28.6.164:8003

# RAG / AI 복지 챗봇 서버 (ai_backend)
RAG_API_BASE_URL=http://172.28.6.164:8001

# 카카오 키
KAKAO_MAP_JS_KEY=YOUR_KAKAO_JAVASCRIPT_KEY
KAKAO_NATIVE_APP_KEY=YOUR_KAKAO_NATIVE_APP_KEY
KAKAO_REST_API_KEY=YOUR_KAKAO_REST_API_KEY
